body{
    background-color: #ebebeb;
    margin: 15px;
}
.top{
    Height:70px;
    background-color:white;
    border: 10px;
    

}

.navbar-brand {
    height:70px;
    width:20%;
    text-align: center;
    background-color: rgb(46, 160, 175);
    float: left;
    padding: 15px;
    margin-left: 40px;

}

#box{
    background-color:white;
    height: 15%;
    width: 100%;
}

.container{
    clear: both;
    background-color: white;
    height: 910px;
    width: 50%;
    position: absolute;
    margin:30px;

}


.col{
    
    height:200px;
    border: 10px;
    margin:25px;
    padding:25px;
}

image{
    height:200px;
    border: 10px;
    margin:25px;
    padding:25px; 
}
.card{
     Height:70px;
     background-color: rgb(46, 160, 175);
    border: 10px;
    margin-top: 60px;
    position: sticky;
    text-align: center;
    width:200%;
}
.game{
    text-align: center;
    background-color: rgb(46, 160, 175);
    width:200px;
}